<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col">
				<header class="footer-header">Hakkımızda</header>
				<div class="about">
					<p>
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero maiores doloremque, nihil
						commodi aliquid reiciendis itaque eaque? Ullam debitis distinctio et omnis at
						repellendus maxime.
					</p>
				</div>
			</div>
			<div class="col">
				<header class="footer-header">Site Haritası</header>
				<ul class="site-map">
					<li>
						<a href="<%= url('/') %>" class="<%= active_url('/') %>">
							<i class="fas fa-link"></i>
							Ana Sayfa
						</a>
					</li>
					<li>
						<a href="<%= url('#services') %>">
							<i class="fas fa-link"></i>
							Hizmetlerimiz
						</a>
					</li>
					<li>
						<a href="<%= url('products') %>" class="<%= active_url('/products') %>">
							<i class="fas fa-link"></i>
							Ürünler
						</a>
					</li>
					<li>
						<a href="<%= url('referances') %>" class="<%= active_url('/referances') %>">
							<i class="fas fa-link"></i>
							Referanslarımız
						</a>
					</li>
					<li>
						<a href="<%= url('about') %>" class="<%= active_url('/about') %>">
							<i class="fas fa-link"></i>
							Hakkımızda
						</a>
					</li>
					<li>
						<a href="<%= url('contact-us') %>" class="<%= active_url('/contact-us') %>">
							<i class="fas fa-link"></i>
							Bize Ulaşın
						</a>
					</li>
				</ul>
			</div>
			<div class="col">
				<header class="footer-header">İletişim</header>
				<ul class="contact-us">
					<li>
						<p>
							<i class="fas fa-map-marker-alt"></i>
							Lorem mah. Ipsum cad. No: 1/2
							<br />
							İstanbul Çekmeköy
						</p>
					</li>
					<li>
						<i class="fas fa-phone"></i>
						<a href="tel:+8505555555">+850 555 5555</a>
					</li>
					<li>
						<i class="far fa-envelope"></i>
						<a href="mailto:info@fribe.org">info@fribe.org</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-text">
		<div class="container">
			<p class="copyright">Double 2022&copy; Tüm Hakları Saklıdır.</p>
			<div class="fribe">
				Web Tasarım
				<a href="https://fribe.org/" target="_blank">
					<img src="/public/images/fribe-logo.svg" alt="fribe-logo" />
				</a>
			</div>
		</div>
	</div>
</footer>
